<!DOCTYPE HTML>
<html lang="en-us">
	<head>
		<% include ../partials/_head %>
	</head>
	<body>
		<h2>Exercise 1 - Testimonial Block</h2>
		<% include ../partials/_testimonial %>
		<h2>Exercise 2 - CTA Quote</h2>
		<% include ../partials/_cta %>
		<h2>Exercise 1 - Filterable Content</h2>
		<% include ../partials/_filterable-content %>
	</body>
</html>