<!DOCTYPE HTML>
<html lang="en-us">
	<head>
		<% include ../partials/_head %>
	</head>
	<body>
		<% include ../partials/_testimonial %>
		<% include ../partials/_cta %>
		<% include ../partials/_filterable-content %>
	</body>
</html>