<section class="filterable-content">
	<div>
		<div>
			<div>
				<div class="filters group">
					<div class="dropdown">
						<span>Genre</span>
						<div></div>
					</div>
					<div class="dropdown">
						<span>Year</span>
						<div></div>
					</div>
					<div class="search">
						<input type="text">
					</div>
				</div>
				<div class="filters group">
					<div>
						<input type="radio" name="choice" value="movies">
						<label>Movies</label>
					</div>
					<div>
						<input type="radio" name="choice" value="books">
						<label>Books</label>
					</div>
					<div>
						<a href="#">Clear filters</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="results">
		<div>
			<div>
				<ul></ul>
			</div>
		</div>
	</div>
</section>