<% filter = function(value){
	var filtered = data.media.filter(function(val){
		return true;
	});
	filtered.forEach(function(listing){ %>
		<li class="listing">
			<figure>
				<img src="<%= listing.poster %>">
				<h3><%= listing.title %></h3>
				<figcaption>
					Genres: <%= listing.genre.join(', ') %>
				</figcaption>
			</figure>
		</li>
	<% }) %>
<% } %>

