.group:after{
	content: '';
	display: table;
	clear: both;
}
img{
	max-width: 100%;
}
h2, .testimonial, .filterable-content, .CTA{
	padding-left: 10%;
	padding-right: 10%;
}

.testimonial{
	background-color: $lighter-gray;
	@include vertical-spacing();
}

.CTA{
	background-color: $dark-blue;
	@include vertical-spacing();
}
.ctaText, .ctaButton{
	display: inline-block;
	vertical-align: middle;
}

.ctaText{
	width: 70%;
	margin-right: 5%;
}

.ctaButton{
	@include button();
	@include fast-transition();
	cursor: pointer;
	&:hover{
		color: $base-blue;
		background-color: #fff;
	}
}

.filters{
	margin-bottom: 18px;
}
.genres, .years{
	position: relative;
	@include floated-content();
	&:hover .checkboxes, &:focus .checkboxes{
		display: block;
	}
}
.radio{
	@include floated-content(); 
}
.dropdown{
	@include dropdown();
	text-transform: uppercase;
	font-weight: bold;
}

.checkboxes{
	position: absolute;
	width: 300px;
	height: 150px;
	overflow: scroll;
	background-color: #fff;
	display: none;
	border-right: 1px solid $base-gray;
	border-left: 1px solid $base-gray;
	border-top: 1px solid $base-gray;
	z-index: 11;
	label{
		display: block;
		padding: 9px;
		text-transform: uppercase;
		color: $base-gray;
		border-bottom: 1px solid $base-gray;
	}
	
}

.search {
	position: relative;
	input {
		@include searchfield();
		float: right;
	}
	&::after{
		content: '';
		background: url(../images/search-icon.png) no-repeat;
		width: 25px;
		height: 25px;
		position: absolute;
		right: 5px;
		top:5px;
		z-index: 10;
		cursor: pointer;
	}
}

.clear{
	float: right;
	a:link, a:visited{
		color: $base-blue;
		font-weight: bold;
		text-transform: uppercase;
	}
	a:hover, a:active{
		color: $dark-blue;
	}
}

.listing{
	display: inline-block;
	vertical-align: top;
	width: 32%;
	border: 5px solid transparent;
	cursor: pointer;
	@include fast-transition();
	&:hover{
		background-color: lighten($base-blue, 35%);
		border-radius: 5px;
		border-color: $base-blue;
	}
}

/* media queries */
@media screen and (max-width: 1440px){
	.testimonial{
		background-position: 6% center;
	}
}
@media screen and (max-width: 1024px){
	.listing{
		width: 48%;
	}
}
@media screen and (max-width: 768px){
	h2, .testimonial, .filterable-content, .CTA{
		padding-left: 2%;
		padding-right: 2%;
	}
	h2{
		font-size: $base-font-size;
	}
	ul{
		margin: 0;
		padding: 0;
	}
	.testimonial{
		background-image: none;
	}
	.citation{
		font-style: italic;
	}
	.listing{
		width: 96%;
	}
	.genres, .years{
		margin: 9px;
		float: none;
		display: inline-block;
	}
	.search{
		input{
			float: none;
			width: 100%;
			margin: 18px 0;
		}
		&::after{
			background: none;
		}
	}
}
