/* Font Stacks */
$serif-stack: 'Roboto Slab', serif;
$sans-serif-stack: 'Montserrat', sans-serif;

/* Base Measurements */
$base-font-size: 1em;
$base-line-height: 1.5;
$base-spacing: 1em;
$heading-font-size: 3em;

/* Colors */
$base-gray: #777;
$dark-gray: darken($base-gray, 25%);
$darker-gray: darken($base-gray, 50%);
$light-gray: lighten($base-gray, 25%);
$lighter-gray: lighten($base-gray, 50%);

$base-blue: #5bc975;
$dark-blue: #0f434c;